<div *ngIf="recipe; else error">
  <div class="row">
    <div class="col-xs-12">
      <img
        [src]="recipe.imagePath"
        alt=""
        class="img-responsive"
        style="max-height: 200px"
      />
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h2>{{ recipe.name }}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div appDropdown class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle">
          Manage recepie
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li>
            <a style="cursor: pointer" (click)="addToSl()">To shopping list</a>
          </li>
          <li><a style="cursor: pointer" routerLink="edit">Edit recipe</a></li>
          <li>
            <a style="cursor: pointer" (click)="deleteRecipe(recipe.id)"
              >Delete Recipe</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">{{ recipe.description }}</div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <ul class="list-group">
        <li
          *ngFor="let ingredient of recipe?.ingredients"
          class="list-group-item"
        >
          {{ ingredient.name }} - {{ ingredient.amount }}
        </li>
      </ul>
    </div>
  </div>
</div>
<ng-template #error>
  <div>Couldn't find recipe :(</div>
</ng-template>
